/* CSS- змінні. В нашому випадку зараз це буде контейнер для кольорыв,адже коли ми прописували кольори і все інше до кожного з стилів окремо, 
то в разі потреби змінни кольору - нам треба було б довго гратись, але завдяки змінним це стає легше наприклад 
Використання: прописуємо тег :root {--color-brand} і вже в ньому створюємо контейнер для кольорів/шрифтів, тощо. А туди де ми хочемо наш кольор взяти прописуємо
замість номеру кольору тег - var(--color-brand)
Потбрібно зауважити,що у змінну ми задаємо усі кольори!
Основний колір називається - primary
CTRL+Shift+L = Виділити усі подібні значення!
Можна задати один головний колір тексту який є домінантним через body {color:var();} як ми вже зробили нижче*/

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* basa */
body {
  color: var(--color-primary-dark);
}
ul {
  list-style-type: none;
}
/* button */
.button-call {
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button-call:hover {
  background: transparent;
  color: var(--color-brand-dark);
}
/* link */
.header-link {
  color: var(--color-primary-light);
}

.header-link:hover {
  color: var(--color-brand-light);
}
/* hero section */
.hero-title {
  color: var(--color-primary-light);
}
.hero-title .accent {
  color: var(--color-brand-light);
}
/* advantages section */
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}
.section-title .accent {
  color: var(--color-brand-dark);
}
.accent {
  color: var(--color-brand-light);
}
