/* CSS- змінні. В нашому випадку зараз це буде контейнер для кольорів,адже коли ми прописували кольори і все інше до кожного з стилів окремо, 
то в разі потреби змінни кольору - нам треба було б довго гратись, але завдяки змінним це стає легше наприклад 
Використання: прописуємо тег :root {--color-brand} і вже в ньому створюємо контейнер для кольорів/шрифтів, тощо. А туди де ми хочемо наш кольор взяти прописуємо
замість номеру кольору тег - var(--color-brand)
Потбрібно зауважити,що у змінну ми задаємо усі кольори!
Основний колір називається - primary
CTRL+Shift+L = Виділити усі подібні значення!
Можна задати один головний колір тексту який є домінантним через body {color:var();} як ми вже зробили нижче*/

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* basa */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  color: var(--color-primary-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

address {
  font-style: normal;
}
ul {
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* button */
.button-call {
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
}

.button-call:hover {
  background: transparent;
  color: var(--color-brand-dark);
}
/* link */
.header-link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}
/* hero section */
.hero-section {
  padding: 272px 0;
}

.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}
.hero-title .accent {
  color: var(--color-brand-light);
}
/* advantages section */

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}
.advantages-item {
  font-weight: 300;
  font-size: 20px;
}
.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
.accent {
  color: var(--color-brand-light);
}
/* traditions section */
.traditions-title {
  margin-bottom: 42px;
}

.traditions-section {
  padding-top: 96px;
}
.traditions-text .uppercase {
  text-transform: uppercase;
}
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* chefs section */
.chefs-title {
  margin-bottom: 80px;
}

.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* formats section */
.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* contact section */

.contact-title {
  margin-bottom: 16px;
}

/* footer */
.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-brand-light);
}
.address-copyright {
  font-size: 14px;
}
